body {
	padding-bottom: 40px;
}

#home-bg {
	background-image: url("../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

#courses-bg {
	background-image: url("../images/bg-computer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

#bg-gradient {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(rgba(0,0,0,0.5), transparent);
	pointer-events: none;
	z-index: 0;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}

#userCard {

}

.avatar {
	object-fit: cover;
	width: 125px;
}

#coursesEnrolled {
	list-style: none;
	padding: 0;
	font-size: 24px;
	text-align: center;

}

#enrollees {
	list-style: none;
	padding: 0;
	font-size: 16px;
}